/* ## Colors

### Primary

- Cyan: hsl(180, 66%, 49%)
- Dark Violet: hsl(257, 27%, 26%)

### Secondary

- Red: hsl(0, 87%, 67%)

### Neutral

- Gray: hsl(0, 0%, 75%)
- Grayish Violet: #9e9aa7
- Very Dark Blue: #36333d
- Very Dark Violet: hsl(260, 8%, 14%) */

/* 
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/* 
------------------------------------------
HEADER SECTION
------------------------------------------
*/
.header {
  display: flex;
  justify-content: space-between;
  height: 12.8rem;
  position: relative;
}

.header div {
  display: flex;
  align-items: center;
}

.header div:nth-child(1) {
  gap: 4.8rem;
}

.header-logo img {
  height: 3.2rem;
}

/* 
------------------------------------------
MAIN NAV SECTION
------------------------------------------
*/
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 1.6rem;
  display: block;
  text-decoration: none;
  color: #9e9aa7;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  font-weight: 800;
  color: #3b3054;
}

.hamburger-menu-button {
  background-color: #fff;
  font-size: 2.4rem;
  border: none;
  display: none !important;
  padding: 2rem;
}

.hamburger-menu-options-container {
  /* display: none; */
  background-color: #fff;
  box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.10);
  padding: 2rem;
  position: fixed;
}
/* 
------------------------------------------
HERO SECTION
------------------------------------------
*/
.hero {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding-block: 12.4rem;
  margin: 0 auto;
}

.hero-text-box {
  flex-direction: column;
  width: 50%;
  margin: 3.4rem;
}

.heading-primary {
  color: #232127;
  line-height: 1.1;
}

.hero-description {
  padding: 1.2rem 6.4rem 0.8rem 0;
  line-height: 1.4;
}

.hero .btn {
  display: block;
  margin: 1.8rem 0;
  padding: 1.8rem 4.8rem;
  width: fit-content;
}

.hero-img-box {
  max-width: 40%;
}

.hero-img-box img {
  position: relative;
}

/* 
------------------------------------------
SHORTEN SECTION
------------------------------------------
*/
.section-shorten {
  height: 40px;
  width: 100%;
}

.shorten {
  background-image: url(../images/bg-shorten-desktop.svg);

  height: 12.4rem;

  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shorten-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.shorten-form div {
  width: 70%;
}

.shorten input {
  width: 100%;
  padding: 1.7rem 2.4rem;
  border-radius: 1.2rem;
  border: none;
}

.invalid input {
  color: #f46262;
  border: solid 0.2rem #f46262;
}

.shorten input::placeholder {
  font-size: 1.6rem;
  color: #e9e6f0;
}

.invalid input::placeholder {
  color: hsla(0, 87%, 67%, 0.493);
}
.invalid button {
  align-self: flex-start;
}

/* p.form-error-message {
  display: none;
}
.invalid p.form-error-message {
  display: block;
} */

.form-error-message {
  color: #f46262;
  font-style: italic;
  /* display: none; */
  padding-top: 0.8rem;
  font-size: 1.2rem;
}

/* .shorten button {
  width: 20%;
} */

/* 
------------------------------------------
Links SECTION
------------------------------------------
*/
.main-section-container {
  margin-top: 2.2rem;
  background-color: #f4f4f8;
  padding-block: 5.8rem;
  min-height: 82rem;
  height: fit-content;
}

.shortened-links-container {
  /* margin: 4rem 4rem; */
}
.shortened-link-card {
  background-color: #fff;
  font-size: 1.8rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem 3.2rem;
  margin: 2rem 0rem;
}

.real-link {
  color: #232127;
}

.shortened-link-container {
  display: flex;
  gap: 2.8rem;
  align-items: center;
}

.shortened-link {
  color: #2acfcf;
}

.copied-btn {
  background-color: #3b3054; 
}

.copied-btn:hover,
.copied-btn:active {
  background-color: #9e9aa7;
}

/* 
------------------------------------------
Statistics SECTION
------------------------------------------
*/
.section-statistics {
  z-index: 1;
  padding-top: 2rem;
}

.container-statistics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 36rem;
  gap: 30px;

  font-size: 1.6rem;
  position: relative;
  z-index: 3;
}

.header-statistics {
  grid-column: 1/4;
  justify-self: center;
  text-align: center;
  padding: 0 40rem;
  margin: 4.2rem 0;
}

.header-statistics h2 {
  color: #232127;
  /* padding: 1rem; */
}

.header-statistics p {
  font-size: 1.8rem;
  line-height: 3rem;
}

.statistics-line {
  height: 1rem;
  width: 100%;
  background-color: #2acfcf;
  position: relative;
  top: -20.5rem;
}

.statistics-card {
  background-color: #f4f4f8;
  height: 28rem;
  padding: 0rem 14rem 1rem 14rem;
  position: relative;
  box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.10);
}

.statistics-icons-container {
  height: 8.8rem;
  width: 8.8rem;
  background-color: #3b3054;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  border-radius: 50%;

  position: absolute;
  top: -4.5rem;
}

.statistics-icons-container:first {
  background-color: red;
}

.statistics-icons-container img {
  width: 4.2rem;
  height: 4.2rem;
}

.statistics-card h3 {
  color: #232127;
  padding: 8.4rem 0 2.2rem 0;
}

.statistics-card p {
  line-height: 1.8;
}

.statistics-card:nth-child(3) {
  align-self: center;
}
.statistics-card:nth-child(4) {
  align-self: end;
}

/* 
------------------------------------------
CTA SECTION
------------------------------------------
*/

.cta-container {
  background-image: url(../images/bg-boost-desktop.svg);
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.cta-container h2 {
  color: #f4f4f8;
}

/* 
------------------------------------------
Footer
------------------------------------------
*/
.footer {
}

.footer-container {
  background-color: hsl(260, 8%, 14%);
  color: #f4f4f8;
  height: 30rem;
  display: flex;
  justify-content: center;
  gap: 3.2rem;

  padding-block: 7.6rem;
}

.footer-container a:hover {
  color: hsl(180, 66%, 49%);
}

.footer-logo-container {
  flex: 3 0 auto;
}

.informative-container {
  flex: 1 0 auto;
  line-height: 3rem;
}

.informative-container p {
  font-size: 1.6rem;
  font-weight: 800;
}

.informative-container li {
  list-style: none;
}

.informative-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #bfbfbf;
}

.social-links {
  flex: 1 0 auto;
  display: flex;
  gap: 1.8rem;
  /* flex-direction: column; */
}

.social-links > li {
  list-style: none;
}

.social-icon {
  color: #f4f4f8;
  font-size: 2.6rem;
}

.social-icon:hover {
  color: #2acfcf;
}

